@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/variables";
@import "./bg-anim";
@import "./navbar";
@import "./variables";
@import "./utitlities";
@import url(https://fonts.googleapis.com/css?family=Montserrat:800,200);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: $primary-font;
  font-size: $base-font-size;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}

// ! XS DEVICES - DESIGN
@include media-breakpoint-up(xs) {
  .header {
    background: $bg-color;
    color: $white-color;
    min-height: 100vh;
    margin: auto;
    position: relative;
    .header-box {
      margin: auto;
      .header-box-1 {
        order: 1;
        padding-top: $base-font-size;
        z-index: 1;
        .box-1 {
          .text {
            font-size: $base-font-size * 1.2;
          }
          .text-2 {
            font-size: $base-font-size * 2.5;
          }
          .text-box {
            .text-3 {
              display: inline-block;
              // width: 130px;
            }
            display: flex;
            .rotatingText-content {
              font-size: $base-font-size * 1.2;
              width: 200px;
            }
          }
        }
        .box-2 {
          margin-top: $base-font-size;
          .text {
            text-align: justify;
            font-size: $base-font-size;
          }
        }
        .box-3 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: $base-font-size * 1.7;
          .link-box {
            .icon-link {
              font-size: $base-font-size * 2;
              margin-right: $base-font-size;
              padding: $base-font-size 0;
              color: $white-color;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
      .header-box-2 {
        order: 0;
        z-index: 1;
        display: flex;
        justify-content: center;

        .img-box {
          width: 300px;
          height: 300px;
          position: relative;
          overflow: hidden;

          img {
            @include glass-bg;
            border-radius: 5px;
            transform: rotate(-20deg);
            position: absolute;
            width: 100px;
            transition: all 0.5s;
            border: 2px solid $primary-color;

            // &:hover {
            //   box-shadow: 0px 0px 0px 2px $primary-color;
            // }
          }

          .img-1 {
            width: 90px;
            // background: crimson;
            top: 114px;
            left: 167px;
          }
          .img-2 {
            // background: cyan;
            top: 108px;
            left: 56px;
          }
          .img-3 {
            width: 70px;
            // background: gray;
            top: 49px;
            left: 133px;
          }
        }
      }
    }
  }
  .about-section {
    height: 100vh;
    width: 100%;
    position: relative;
    background: $bg-color;
    overflow-x: hidden;
    display: flex;
    justify-content: center;

    .about-grp {
      margin: 150px 0px 0px 0px;
      .about-box {
        @include glass-bg;
        margin: auto;
        width: 80%;
        // height: 500px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: 0.5s height;
        overflow-x: hidden;

        &.hidden {
          height: 45px;
        }
        .side-box {
          height: 45px;
          color: $bg-color;
          background: $primary-color;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 30px;
        }
        .main-box {
          div {
            border: 2px solid $primary-color;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 20px;
          }
          color: white;
          padding: 10px;
          .text-1 {
            font-size: $base-font-size * 1.2;
            font-weight: 500;
          }
          .text-2 {
            font-size: 14px;
            font-weight: 100;
          }
          .text-3 {
            font-size: 10px;
          }
          .text-4 {
            background: gray;
            padding: 5px;
            margin-top: 10px;
            border-radius: 20px;
            border: 1px solid $primary-color;
            text-align: center;
          }
        }
      }
      .about-box-1 {
        height: 200px;
      }
      .about-box-2 {
        height: 280px;
      }
      .about-box-3 {
        // height: 370px;
      }
    }
  }
}
// ! SM DEVICES - DESIGN
@include media-breakpoint-up(sm) {
}
// ! MD DEVICES - DESIGN
@include media-breakpoint-up(md) {
  .header {
    height: 85vh;
    .header-box {
      .header-box-1 {
        order: 0;
        .box-1 {
          .text {
            font-size: $base-font-size * 1.2;
          }
          .text-2 {
            font-size: $base-font-size * 4;
          }
          .text-box {
            .text-3 {
            }
            .rotatingText-content {
              font-size: $base-font-size * 1.2;
              width: 200px;
            }
          }
        }
        .box-2 {
          margin-top: $base-font-size;
          .text {
            font-size: $base-font-size * 1.1;
            text-align: left;
          }
        }
      }
      .header-box-2 {
        order: 1;
        align-items: center;
      }
    }
  }
}
// ! LG DEVICES - DESIGN
@include media-breakpoint-up(lg) {
  .header {
    .header-box {
      display: flex;
      align-items: center;
      .header-box-1 {
        .box-1 {
          .text {
            font-size: $base-font-size * 1.7;
          }
          .text-2 {
            font-size: $base-font-size * 4;
          }
          .text-box {
            .text-3 {
            }
            .rotatingText-content {
              font-size: $base-font-size * 1.7;
              width: 300px;
            }
          }
        }
        .box-2 {
          margin-top: $base-font-size;
        }
        .box-3 {
          flex-direction: row;
          align-items: center;
          .link-box {
            .icon-link {
              font-size: $base-font-size * 2;
              padding: $base-font-size 0;
            }
          }
        }
      }
      .header-box-2 {
        .img-box {
          // background: red;
          width: 400px;
          height: 400px;

          .img-1 {
            width: 100px * 1.5;
            top: 151px;
            left: 217px;
          }
          .img-2 {
            // background: cyan;
            width: 90px * 1.5;
            top: 135px;
            left: 56px;
          }
          .img-3 {
            width: 70px * 1.5;
            // background: gray;
            top: 56px;
            left: 164px;
          }
        }
      }
    }
  }
}
// ! XL DEVICES - DESIGN
@include media-breakpoint-up(xl) {
}
// ! XXL DEVICES - DESIGN
@include media-breakpoint-up(xxl) {
}
