@import "../../node_modules/bootstrap/scss/variables";

$primary-color: #5fba75;
$white-color: #fff;
$bg-text: 200px;
$bg-color: #1e2134;
$text-color: #30442a;

//Font Family
$primary-font: "Poppins", sans-serif;
$base-font-size: 16px;
